.floatbar {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
}

.floatbar a {
	width: 100%;
}

.thumbnail {
	width: 20px;
	height: 20px;
}

.map.small {
	width: 100%;
	height: 200px;
}


.info {
	background-color: #FFFFFF;
}

.info .text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info small {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.85em;
	color: #888;
}

.switch {
	color: #05B8E2;
}

.right-aligned {
	text-align: right;
	margin: 8px 11px 0 11px;
}

.info.text, .info.text a, .info.text .icon { color: #797979; text-shadow: 0 1px 0 #fff; }
.info.text, .info.text a { font-size: 1em; }

.onleft.iconset {
	margin: 0 8px 0 0;
}

.search-box {
	padding: 5px;
	border-bottom: 1px solid #E1E1E1;
}

div.list {
	height: 100%;
}

/** SIZE modifiers */
.bigicon {
	font-size: 2em;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

.smallicon {
	font-size: 0.9em;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

/** COLOR modifiers */
.yellow {
	color:#ffb515;
	background-color: transparent;
}

.gray {
	color:#CCCCCC;
	background-color: transparent;
}

.lightgray {
	color: #797979;
}

.recommended.color {
	color: #fe8800;
}

.friends.color {
	color: #518259;
}

.user.color {
	color: #1f4a75;
}