.floatbar {
	background: rgba(0, 0, 0, 0.9);
}

.floatbar a {
	width: 100%;
}

.yellow {
	color:#ffb515;
	background-color: transparent;
}

.bigicon {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
}

img.thumbnail {
	width: 20px;
	height: 20px;
}